xmlunittest
vcrpy
pyyaml
odoo14-addon-ebill-paynet @git+https://github.com/dzungtran89/l10n-switzerland@14.0-mig-ebill_paynet#subdirectory=setup/ebill_paynet
odoo14-addon-account-invoice-export @git+https://github.com/trobz/edi@14.0-mig-account_invoice_export#subdirectory=setup/account_invoice_export
odoo14-addon-base-ebill-payment-contract @git+https://github.com/phuctranerp/edi@14.0-mig-base_ebill_payment_contract#subdirectory=setup/base_ebill_payment_contract
odoo14-addon-account-invoice-transmit-method @git+https://github.com/phuctranerp/account-invoicing@14.0-mig-account_invoice_transmit_method#subdirectory=setup/account_invoice_transmit_method
odoo14-addon-base-view-inheritance-extension @git+https://github.com/akretion/server-tools@14-mig-base_view_inheritance_extension#subdirectory=setup/base_view_inheritance_extension
